Q1. Write a code to create a string with your name and print it ?

In [1]:
# Ans.

# Creating a string with my name
my_name = "John Doe"

# Printing the string
print(my_name)

John Doe

Q2. Write a code to find the length of the string "Hello World" ?

In [2]:
# Ans.

# Define the string
text = "Hello World"

# Find and print the length of the string
print(len(text))

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming" ?

In [3]:
# Ans.

# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print(sliced_text)

Pyt

Q4. Write a code to convert the string "hello" to uppercase ?

In [4]:
# Ans.

# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print(uppercase_text)

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

In [5]:
# Ans.

# Define the string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print(new_text)

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it ?

In [6]:
#Ans.
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print(numbers)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?

In [7]:
# Ans.

# Define the list
numbers = [1, 2, 3, 4]

# Append the number 10
numbers.append(10)

# Print the updated list
print(numbers)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

In [8]:
# Ans.

# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print(numbers)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

In [9]:
# Ans.

# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print(second_element)

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50] ?

In [10]:
# Ans.

# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print(numbers)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it ?

In [11]:
# Ans.

# Create a tuple with elements 100, 200, 300
my_tuple = (100, 200, 300)

# Print the tuple
print(my_tuple)

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?

In [12]:
# Ans.

# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = colors[-2]

# Print the result
print(second_to_last)

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?

In [13]:
# Ans.

# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
min_number = min(numbers)

# Print the result
print(min_number)

5

Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

In [14]:
# Ans.

# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index_of_cat = animals.index('cat')

# Print the result
print(index_of_cat)

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it ?

In [15]:
# Ans.

# Create a tuple with three fruits
fruits = ("apple", "banana", "orange")

# Check if "kiwi" is in the tuple
is_kiwi_present = "kiwi" in fruits

# Print the result
print(is_kiwi_present)

False

Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it ?

In [16]:
# Ans.

# Create a set with elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print(my_set)

{'a', 'c', 'b'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5} ?

In [17]:
# Ans.

# Define the set
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the result
print(numbers)

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4} ?

In [18]:
# Ans.

# Define the set
numbers = {1, 2, 3, 4}

# Remove the element 4
numbers.remove(4)

# Print the updated set
print(numbers)

{1, 2, 3}

Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5} ?

In [19]:
# Ans.

# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the sets
union_set = set1.union(set2)

# Print the result
print(union_set)

{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4} ?

In [20]:
# Ans.

# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the sets
intersection_set = set1.intersection(set2)

# Print the result
print(intersection_set)

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it ?

In [21]:
# Ans.

# Create a dictionary with keys "name", "age", and "city"
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Print the dictionary
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?

In [22]:
# Ans.

# Define the dictionary
person = {'name': 'John', 'age': 25}

# Add a new key-value pair "country": "USA"
person['country'] = 'USA'

# Print the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?

In [23]:
# Ans.

# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value associated with the key "name"
name_value = person['name']

# Print the result
print(name_value)

Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'} ?

In [24]:
# Ans.

# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?

In [25]:
# Ans.

# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
key_exists = "city" in person

# Print the result
print(key_exists)

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all ?

In [26]:
# Ans.

# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ("apple", "banana", "cherry")

# Create a dictionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

# Print all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced) ?

In [27]:
# Ans.

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[41, 48, 58, 62, 65]

Q28.  Write a code to create a list with strings and print the element at the third index ?

In [28]:
# Ans.

# Create a list with strings
words = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index
print(words[3])

date

Q29. Write a code to combine two dictionaries into one and print the result ?

In [29]:
# Ans.

# Define two dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30. Write a code to convert a list of strings into a set ?

In [30]:
# Ans.

# Define a list of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list into a set
string_set = set(string_list)

# Print the result
print(string_set)

{'banana', 'apple', 'cherry'}